<a href="https://colab.research.google.com/github/Gaurav-Jagnani/ML_micro_projects/blob/master/Bagging_on_IMDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import random
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [0]:
# from google.colab import drive
# drive.mount("Drive")

In [0]:
df = pd.read_csv("Drive/My Drive/Colab Notebooks/movie_metadata.csv")

In [521]:
df.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [522]:
df.shape

(5043, 28)

In [523]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [524]:
df = df.drop(['movie_title','actor_3_name','content_rating','director_name','genres','language','country','title_year','actor_2_name','actor_1_name','plot_keywords','movie_imdb_link'], axis = 1)
df.head()

   color  num_critic_for_reviews  ...  aspect_ratio  movie_facebook_likes
0  Color                   723.0  ...          1.78                 33000
1  Color                   302.0  ...          2.35                     0
2  Color                   602.0  ...          2.35                 85000
3  Color                   813.0  ...          2.35                164000
4    NaN                     NaN  ...           NaN                     0

[5 rows x 16 columns]

In [525]:
df =df.dropna()
print(df.shape)

(3800, 16)

In [526]:
columnsToEncode = list(df.select_dtypes(include=['category','object']))
le = LabelEncoder()
for feature in columnsToEncode:
    df[feature] = le.fit_transform(df[feature])
df.head()

   color  num_critic_for_reviews  ...  aspect_ratio  movie_facebook_likes
0      1                   723.0  ...          1.78                 33000
1      1                   302.0  ...          2.35                     0
2      1                   602.0  ...          2.35                 85000
3      1                   813.0  ...          2.35                164000
5      1                   462.0  ...          2.35                 24000

[5 rows x 16 columns]

In [0]:
Y = round(df["imdb_score"])
X = df.drop(["imdb_score"], axis=1)
X = StandardScaler().fit_transform(X)
Y = Y.astype(int)

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(
            X, Y, test_size=0.2, random_state=1)

In [529]:
model = SVC()
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)
print(accuracy_score(Y_test, Y_pred))

0.5118421052631579

In [0]:
def subsample(X_train, Y_train, ratio):
    samplesize = int(ratio * len(X_train))
    idxs = list()
    for i in range(samplesize):
        idxs.append(random.randrange(len(X_train)))
    return (X_train[idxs], Y_train.iloc[idxs])

Soft voting on subsample estimators

In [0]:
def bagging(n_estimators, sample_ratio):
    models = list()
    preds = list()
    for i in range(n_estimators):
        model = SVC(probability=True)
        X_sample, Y_sample = subsample(
            X_train, Y_train, sample_ratio)
        model.fit(X_sample, Y_sample)
        models.append(model)
        pred = model.predict_proba(X_test)
        preds.append(pred)
    
    preds = np.array(preds)
    preds = np.sum(preds, axis=0)
    preds = preds / n_estimators
    preds = np.argmax(preds, axis=-1)

    return preds

In [0]:
bagging_pred = bagging(5, 0.6)